.dropdown-item-1,
.dropdown-item-2 {
  display: none;
  z-index: 1;
}

#player1-character:hover .dropdown-item-1,
#player2-character:hover .dropdown-item-2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#player1-character:hover,
#player2-character:hover {
  height: 78vh;
  border-color: #77ca00;
}

#player1-character:hover h1,
#player2-character:hover h1 {
  padding-bottom: 10px;
}
