@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #10223e;
  color: #aec4d4;
  font-weight: bold;
}

.entrant {
  width: 50%;
}

.z-40 {
  transform: translate3d(0, 0, 100px);
}

.z-50 {
  transform: translate3d(0, 0, 200px);
}
